<select class="select2 operator" <%- isEditable ? '' : 'disabled' %> name="filter-operator">
    <% _.each(operatorChoices, function (operatorChoice) { %>
        <option value="<%- operatorChoice %>"<%- operator === operatorChoice ? ' selected' : '' %>>
            <%- __('ewave_attribute.form.job_instance.tab.content.data.' + field + '.operators.' + operatorChoice) %>
        </option>
    <% }); %>
</select>
<% if ('>' === operator) { %>
    <span class="date-wrapper">
        <input class="AknTextField add-on value" name="filter-value" type="text" <%- isEditable ? '' : 'disabled' %> value="<%- value ? value : '' %>">
    </span>
<% } else if ('SINCE LAST N DAYS' === operator) { %>
    <input class="AknTextField AknTextField--noLeftRadius" name="filter-value" type="text" value="<%- value ? value : '' %>"<%- isEditable ? '' : ' disabled' %>>
<% } %>
