<select class="select2 operator" data-tags="false" name="filter-operator" <%- editable ? '' : 'disabled' %>>
    <% _.each(operators, function (operatorChoiceLabel, operatorChoice) { %>
        <option value="<%- operatorChoice %>"<%- operator === operatorChoice ? ' selected' : '' %>>
            <%- operatorChoiceLabel %>
        </option>
    <% }); %>
</select>

<% if (undefined !== value) { %>
    <input class="select2 value noLeftBorder" data-tags="false" name="filter-value" type="hidden" value="<%- value ? value : '' %>" <%- editable ? '' : 'disabled' %> />
<% } %>
